<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
      .body-bg {
      background: linear-gradient(to bottom right, #FCA8A8, #7C8DDA);
      }
    </style>
  </head>
  <body class="body-bg min-h-screen pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <div class="mt-10 flex flex-col items-center justify-center">
      <div class="w-1/2 bg-white mt-10 p-8 rounded-lg shadow-lg max-w-screen-md">
        <h1 class="text-3xl text-rose-400 font-semibold mb-6">Criar Categoria</h1>
        <%= form_with(model: @category, url: categories_path) do |form| %>
          <div class="mb-4">
            <%= form.label :name, "Nome", class: "block text-gray-700 text-sm font-semibold mb-2" %>
            <%= form.text_field :name, class: "block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-violet-500 focus:border-violet-500", placeholder: "Nome da Categoria" %>
          </div>
          <div class="flex">
            <%= link_to 'Voltar', categories_path, class: "grow block text-gray-600 text-sm font-semibold mt-4 hover:text-gray-800" %>
            <%= form.submit @category.new_record? ? 'Criar Categoria' : 'Criar categoria', class: "flex-none px-6 py-2 bg-rose-400 text-white font-semibold rounded-md hover:bg-rose-500 focus:outline-none focus:bg-violet-600" %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
